name = "abogado-wilson-website"
main = "src/worker.ts"
compatibility_date = "2024-02-14"
account_id = "f21b24d86935a055c03d21f7fffd1514"
workers_dev = true

[dev]
port = 3000
local_protocol = "http"

[build]
command = "npm run build"
watch_dir = "src"

[site]
bucket = "./dist"

[limits]
memory_mb = 128
max_upload_size = "10MB"
cpu_ms = 1000

[vars]
ENVIRONMENT = "production"
CORS_ORIGIN = "*"

[kv_namespaces]
[[kv_namespaces.bindings]]
binding = "ASSETS"
id = "d977cf29acc749ba8aeabbcb2d395cb3"

[d1_databases]
[[d1_databases.bindings]]
binding = "DB"
database_id = "f00d15a2-6069-4f19-a8eb-6f2217af2176"

[triggers]
crons = ["0 0 * * *"] # Daily maintenance
